.spanContainer{
    height: 100%;
    width: 30%;
    display: inline-block;
    background-color:#AEE0C5;
    color: aliceblue;
    position: static;
    
}

.textContainer{
    position: relative;
    left: 20%;
    top: 20%;
}
.loginHeader{
    font-size: 40px;
}
.cartImage{
    max-height: 45%;
    max-width: 55%;
    aspect-ratio: 1;
    top: 40%;
    left: 20%;
    position: relative;
}
.loginText{
    font-size: large;
    color: aliceblue;
}
.spanContainer2{
    width: 70%;
    height: 100%;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.loginContainer{
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.materialButton{
    margin: 6px;
}
.materialInput{
    margin: 2px;
}
.logo{
    max-height: 40%;
    max-width: 40%;
}