.logo{
    width:100px;
    height:50px;
    object-fit: cover;
}
.navbar{
    padding:0px !important;
    background-color: #AEE0C5 !important;
}
.nav-item{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    color:aliceblue;
    margin:10px;
}
.me-auto2{
    margin-right: 0px !important;
    display:flex;
    align-items: center;

}
#navbarScroll{
    justify-content: flex-end;
}
.searchField{
    max-height: 40px;
    max-width: 250px;
}
.Plist{
    min-width: 450px;
}
.Logstatus{
    min-width: 105px;
}